/* variables */
:root {
  /* colors */
  --pink: #feafc3;
  --black: #2d3440;
  --light-pink: rgba(252, 252, 252, 0.3);
  --white: #fcfcfc;
}

/* fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/* styles */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--black);
  font-size: 16px;
  line-height: 22px;

  background-color: var(--pink);
}

/* common styles */
.pink-button {
  border: none;
  background-color: var(--light-pink);
  cursor: pointer;
}

.light-button {
  border: none;
  background-color: var(--white);
  cursor: pointer;
  text-decoration: none;
}

/* header */
.page-header {
  line-height: 20px;
}

.catalog-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.page-header a {
  color: inherit;
  text-decoration: none;
}

.phone-link {
  font-weight: 700;
}

.sign-in-button,
.shopping-cart-button {
  font-size: 14px;
}

/* index => introduction */
.introduction-short-desc {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.introduction-big-desc {
  font-size: 18px;
  line-height: 24px;
}

.introduction-button {
  font-weight: 700;
  color: inherit;
  line-height: 20px;
  text-align: center;
}
