/* variables */
:root {
  /* colors */
  --pink: #feafc3;
  --black: #2d3440;
  --light-pink: rgba(252, 252, 252, 0.3);
  --white: #fcfcfc;
  --dark-pink: #ff7799;
  --gray: #565c66;
  --red: #ff2f64;
  --light-gray: #b9b9b9;
}

/* fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/* styles */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  min-height: 100%;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--black);
  font-size: 16px;
  line-height: 22px;

  background-color: var(--pink);
}

/* common styles */
.container {
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pink-button,
.light-button,
.red-button,
.inherit-button {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.pink-button {
  color: var(--black);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--light-pink);
}

.light-button {
  color: var(--black);
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  background-color: var(--white);
}

.red-button {
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--red);
  text-align: center;
}

.inherit-button {
  background-color: inherit;
  color: inherit;
}

.text-input {
  line-height: 20px;
  font-size: 16px;
}

.boldest-text {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

/* social-media */
.social-media {
  display: flex;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-media-item + .social-media-item {
  margin-left: 16px;
}

.social-media-link {
  display: block;

  width: 24px;
  height: 24px;
}

/* header */
.page-header {
  line-height: 20px;
}

.page-header button,
.pahe-header a {
  display: block;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 0;
}

.page-header-left-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  margin-right: 16px;
}

.catalog-button {
  font-size: 16px;
  line-height: 20px;

  padding: 8px 38px 8px 16px;
}

.navigation-list {
  display: flex;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  padding: 8px 16px;
}

.page-header-right-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.phone-link {
  font-weight: 700;

  padding: 6px 16px;
}

.search-button {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.sign-in-button {
  padding: 6px 16px 6px 38px;
  margin-right: 16px;
}

.shopping-cart-button {
  padding: 6px 16px 6px 38px;
}

/* index => main-index */
.main-index {
  flex-grow: 1;
}

/* index => introduction */
.introduction {
  margin-bottom: 80px;
}

.introduction-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.introduction-current-item {
  display: flex;
  flex-basis: 846px;
}

.introduction-current-item .introduction-desc {
  flex-basis: 470px;
  padding-top: 136px;
  padding-left: 70px;
}

.introduction-short-desc {
  font-size: 36px;

  margin: 0;
  margin-bottom: 24px;
}

.introduction-big-desc {
  font-size: 18px;
  line-height: 24px;

  margin: 0;
  margin-bottom: 48px;
}

.introduction-button {
  display: inline-block;

  padding: 12px 32px;
  margin-bottom: 138px;
}

.introduction-small-image {
  width: 66px;
  height: 150px;
}

.introduction-pagination {
  display: flex;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.introduction-pagination-item + .introduction-pagination-item {
  margin-left: 8px;
}

.introduction-pagination-button {
  display: inline-block;

  width: 12px;
  height: 12px;
}

/* index => gifts */
.gifts {
  margin-bottom: 81px;
}

.gifts-title {
  text-align: center;

  margin: 0;
  margin-bottom: 55px;
}

.gifts-container {
  display: flex;
  justify-content: space-between;
}

.gifts-card {
  display: flex;

  flex-basis: 570px;
  background-color: var(--dark-pink);
}

.gifts-card-container {
  padding: 36px;
  padding-right: 0;
  padding-bottom: 0;
}

.gifts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  margin: 0;
  margin-bottom: 28px;
}

.gifts-desc {
  margin: 0;
  margin-bottom: 28px;
}

.gifts-link {
  display: inline-block;

  padding: 12px 32px;
  margin-bottom: 36px;
}

/* index => flavors */
.flavors {
  margin-bottom: 80px;
}

.flavors-main-text {
  margin: 0;
  margin-bottom: 118px;
}

.flavors-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.flavors-main-text {
  text-align: center;
}

.flavors-item {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: var(--white);

  padding: 135px 40px;
  padding-bottom: 0;
}

.flavors-image {
  position: absolute;
  top: -51px;
  left: 51px;

  border-radius: 50%;
}

.flavors-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  margin: 0;
  margin-bottom: 8px;
}

.flavors-desc {
  color: var(--gray);
  text-align: center;

  margin: 0;
  margin-bottom: 16px;
}

.flavors-bottom-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;
}

.flavors-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.flavors-link {
  width: 32px;
  height: 32px;
}

/* index => about-us */
.about-us {
  background-color: var(--white);
  background-image: url("../images/background/about-us-bg.jpg");

  padding: 24px;
  margin-bottom: 80px;
}

.about-us-container {
  display: flex;
  flex-direction: column;

  background-color: var(--white);

  padding-top: 56px;
}

.about-us-title {
  text-align: center;

  margin: 56px 64px;
  margin-top: 0;
}

.about-us-list {
  display: grid;
  grid-template-columns: repeat(2, 506px);
  gap: 40px 32px;

  margin: 0 40px;
  margin-bottom: 56px;
  padding: 0;
  list-style-type: none;
}

.about-us-item {
  color: var(--gray);

  padding-left: 64px;
}

/* index => aside */
.aside-index {
  margin-bottom: 80px;
}

.aside-index-container {
  display: flex;
  justify-content: space-between;
}

/* index => new-blog */
.new-blog-link {
  display: flex;

  flex-basis: 570px;
}

.new-blog {
  display: flex;
  flex-direction: column;

  background-color: var(--white);
  background-image: url("../images/background/new-blog-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  padding-left: 32px;
  padding-top: 33px;
}

.new-blog-text {
  order: -1;

  color: var(--gray);
  line-height: 20px;

  margin: 0;
  margin-bottom: 12px;
}

.new-blog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  margin: 0;
  margin-bottom: 67px;
}

/* index => mailing-list */
.mailing-list {
  background-color: var(--white);
  background-image: url("../images/background/mailing-list-bg.png");
  background-size: 100% auto;

  flex-basis: 570px;
  padding: 6px;
}

.mailing-list-container {
  display: flex;
  flex-direction: column;

  background-color: var(--white);

  padding: 26px;
  padding-bottom: 0;
}

.mailing-list-text {
  color: var(--gray);

  margin: 0;
  margin-bottom: 42px;
}

.mailing-list-form {
  display: flex;

  margin-bottom: 26px;
}

.mailing-list-form-input-mail {
  width: 330px;
  margin-right: 14px;
  padding: 14px 16px;
  padding-right: 0;
}

.mailing-list-form-submit {
  display: inline-block;

  padding: 12px 32px;
}

/* index => delivery */
.delivery {
  background-color: var(--white);
  background-image: url("../images/background/delivery-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 80px;
}

.delivery-container {
  display: flex;
  justify-content: space-between;
}

.delivery-left-container {
  flex-basis: 370px;
  padding-left: 100px;
  padding-top: 167px;
}

.delivery-title {
  margin: 0;
  margin-bottom: 24px;
}

.delivery-text {
  margin: 0;
  margin-bottom: 163px;
}

.delivery-right-container {
  flex-basis: 500px;
  padding-right: 65px;
  padding-top: 64px;
  margin-bottom: 64px;
}

.delivery-text,
.delivery-form-text {
  color: var(--gray);
}

.delivery-form {
  display: flex;
  flex-direction: column;

  background-color: var(--white);
}

.delivery-label {
  font-weight: 700;
  line-height: 20px;
}

.delivery-form {
  padding: 40px;
  padding-bottom: 0;
}

.delivery-form-text {
  margin: 0;
  margin-bottom: 32px;
}

.delivery-form-container {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;

  margin-bottom: 32px;
}

.delivery-input {
  box-sizing: border-box;

  width: 100%;
  padding: 14px 16px;
}

.delivery-label {
  display: inline-block;

  margin-bottom: 8px;
}

.delivery-address {
  grid-column: 1 / -1;
}

.delivery-submit {
  align-self: center;

  padding: 12px 32px;
  margin-bottom: 42px;
}

/* index => contacts */
.contacts {
  display: flex;

  background-color: var(--white);
  background-image: url("../images/background/contacts-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  padding-top: 64px;
  padding-left: 64px;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 343px;
  padding-top: 40px;
  padding-left: 40px;
  margin-bottom: 64px;

  background-color: var(--white);
}

.contacts-wrapper {
  font-style: normal;
}

.contacts-text {
  color: var(--gray);
}

.contacts-main-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-address-text {
  margin: 0;
  margin-bottom: 12px;
}

.contacts-address {
  margin: 0;
  margin-bottom: 24px;
}

.contacts-phone-text {
  margin: 0;
  margin-bottom: 12px;
}

.contacts-phone {
  margin: 0;
  margin-bottom: 32px;
}

.contacts-button {
  padding: 12px 32px;
  margin-bottom: 40px;
}

/* footer */
.page-footer {
  font-size: 14px;
  line-height: 20px;

  padding-top: 48px;
}

.page-footer-container {
  display: flex;
}

.page-footer-social-media {
  padding: 0;
  margin-left: 6px;
  margin-right: 300px;
}

.page-footer-for-suppliers {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: auto;
}

.page-footer-link-for-suppliers {
  font-weight: 700;
}

.page-footer-copyright {
  margin-right: 15px;
}

.logo-html-academy {
  display: block;

  margin-bottom: 14px;
}

.page-footer-copyright-text {
  font-size: 12px;
  line-height: 16px;

  margin: 0;
  margin-bottom: 48px;
}

/* catalog => header */
.page-header-catalog {
  margin-bottom: 32px;
}

/* catalog => main-catalog */
.main-catalog {
  flex-grow: 1;
}

/* catalog => main-catalog-header */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-item + .breadcrumbs-item {
  margin-left: 28px;
}

.breadcrumbs-current-link {
  border-bottom: 1px solid var(--black);
}

.catalog-title {
  margin: 0;
  margin-bottom: 40px;
}

/* catalog => flavors */
.catalog-flavors {
  border-bottom: 1px solid var(--light-pink);
}

/* catalog => sorting-form */
.sorting-form {
  font-size: 14px;
  line-height: 20px;

  margin-bottom: 95px;
}

/* catalog => flavors-list */
.flavors-list-catalog {
  margin-bottom: 57px;
}

/* catalog => flavors-pagination */
.flavors-pagination-container {
  display: flex;
  align-items: center;

  margin-bottom: 80px;
}

.flavors-pagination-link {
  margin-left: 486px;
  margin-right: auto;
  padding: 12px 32px;
}

.flavors-pagination {
  display: flex;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flavors-pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flavors-pagination-button {
  display: flex;
  justify-content: center;
  align-items: center ;

  width: 24px;
  height: 24px;
}

.flavors-pagination-item:first-child .flavors-pagination-button,
.flavors-pagination-item:last-child .flavors-pagination-button {
  width: 16px;
  height: 16px;
}

.flavors-pagination-item:first-child .flavors-pagination-button {
  margin-right: 8px;
}

.flavors-pagination-item:last-child .flavors-pagination-button {
  margin-left: 8px;
}
