/* variables */
:root {
  /* colors */
  --pink: #feafc3;
  --black: #2d3440;
  --light-pink: rgba(252, 252, 252, 0.3);
  --white: #fcfcfc;
  --dark-pink: #ff7799;
  --gray: #565c66;
  --red: #ff2f64;
  --light-gray: #b9b9b9;
}

/* fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/* styles */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--black);
  font-size: 16px;
  line-height: 22px;

  background-color: var(--pink);
}

/* common styles */
.pink-button,
.light-button,
.red-button {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.pink-button {
  color: var(--black);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--light-pink);
}

.light-button {
  color: var(--black);
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  background-color: var(--white);
}

.red-button {
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--red);
  text-align: center;
}

.text-input {
  color: var(--light-gray);
  line-height: 20px;
  font-size: 16px;
}

.boldest-text {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

/* header */
.page-header {
  line-height: 20px;
}

.catalog-button {
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.page-header a {
  color: inherit;
  text-decoration: none;
}

.phone-link {
  font-weight: 700;
}

/* index => introduction */
.introduction-short-desc {
  font-size: 36px;
}

.introduction-big-desc {
  font-size: 18px;
  line-height: 24px;
}

/* index => gifts */
.gift-card {
  background-color: var(--dark-pink);
}

.gifts-title {
  text-align: center;
}

.gifts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* index => flavors */
.flavors-main-text {
  text-align: center;
}

.flavors-item {
  background-color: var(--white);
}

.flavors-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.flavors-desc {
  color: var(--gray);
  text-align: center;
}

.flavors-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* index => about-us */
.about-us-title {
  text-align: center;
}

.about-us-list {
  background-color: var(--white);
}

.about-us-item {
  color: var(--gray);
}

/* index => new-blog */
.new-blog {
  background-color: var(--white);
  background-image: url("../images/background/new-blog-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.new-blog-link {
  color: inherit;
  text-decoration: none;
}

.new-blog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.new-blog-text {
  color: var(--gray);
  line-height: 20px;
}

/* index => mailing-list */
.mailing-list {
  background-color: var(--white);
}

.mailing-list-text {
  color: var(--gray);
}

/* index => delivery */
.delivery {
  background-color: var(--white);
  background-image: url("../images/background/delivery-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.delivery-text,
.delivery-form-text {
  color: var(--gray);
}

.delivery-form {
  background-color: var(--white);
}

.delivery-form-label {
  font-weight: 700;
  line-height: 20px;
}

/* index => contacts */
.contacts {
  background-color: var(--white);
  background-image: url("../images/background/contacts-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.contacts-wrapper {
  font-style: normal;
  background-color: var(--white);
}

.contacts-text {
  color: var(--gray )
}

.contacts-main-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone-link {
  color: var(--black);
  text-decoration: none;
}

/* header */
.page-footer {
  font-size: 14px;
  line-height: 20px;
}

.page-footer-link {
  color: var(--black);
  text-decoration: none;
}

.page-footer-for-suppliers {
  font-weight: 700;
}

.page-footer-copyright-text {
  font-size: 12px;
  line-height: 16px;
}

.page-footer-copyright-link {
  color: var(--black);
  text-decoration: none;
}
